In [1]:
conda update --all

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nazim\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: trio~=0.17 in c:\users\nazim\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\nazim\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nazim\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nazim\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: sniffio in c:\users\nazim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\nazim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nazim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: outcome in c:\users\nazim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\nazim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\nazim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\nazim\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\nazim\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nazim\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nazim\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nazim\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [10]:
import selenium

In [11]:
from selenium import webdriver

In [12]:
import pandas as pd

In [13]:
from selenium.webdriver.common.by import By

In [15]:
import warnings

In [16]:
warnings.filterwarnings("ignore")

In [17]:
import time

In [18]:
driver = webdriver.Chrome()

# Question No 1

In [10]:
driver.get("https://www.naukri.com/")

In [11]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [13]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [14]:
job_title=[]
job_location=[]
company_name=[]
experience_requried=[]

In [15]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

print(job_title)

['Data Analyst', 'Data Analyst', 'HCL hiring For GCP Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst I', 'Data Analyst', 'Data Analyst']

In [16]:
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
print(job_location)

['Bangalore/Bengaluru', 'Bangalore/ Bengaluru, Karnataka, Gurgaon/ Gurugram, Haryana', 'Bangalore/ Bengaluru, Karnataka, Hyderabad/ Secunderabad, Telangana, Chennai, Tamil Nadu', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune', 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai']

In [17]:
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    
print(company_name)

['Eastvantage', 'Delhivery', 'HCLTech', 'Everest Vacuum', 'Boomi Software', 'Synechron', 'Synchron Infotech', 'Cerner', 'Persolkelly India', 'Truthfools']

In [18]:
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')

for i in exp_tag[0:10]:
    exp=i.text
    experience_requried.append(exp)
    
print(experience_requried)

['4-6 Yrs', '1-3 Yrs', '5-10 Yrs', '2-5 Yrs', '1-5 Yrs', '5-8 Yrs', '5-8 Yrs', '5-10 Yrs', '0-2 Yrs', '3-8 Yrs']

In [19]:
print(len(job_title),len(job_location),len(company_name),len(experience_requried))

10 10 10 10

In [20]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experiance Requried':experience_requried})
df

,Job Title,Job Location,Company Name,Experiance Requried
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,HCL hiring For GCP Data Analyst,"Bangalore/ Bengaluru, Karnataka, Hyderabad/ Se...",HCLTech,5-10 Yrs
3,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Boomi Software,1-5 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
7,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Truthfools,3-8 Yrs

# Question No 2

In [19]:
driver = webdriver.Chrome()

In [20]:
driver.get("https://www.naukri.com/")

In [23]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [26]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]

In [28]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

print(job_title)

['Analystics & Modeling Specialist', 'Data Science Specialist', 'Senior Data Scientist', 'Senior Data Scientist', 'Data Scientist', 'Data Scientist Lead', 'Data Scientist', 'Data Scientist', 'ACN - Applied Intelligence - Finance - Data Science - 09', 'Senior Data Scientist']

In [29]:
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
print(job_location)

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Mumbai (All Areas)', 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai', 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram', 'Bangalore/Bengaluru, Mumbai']

In [30]:
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    
print(company_name)

['Accenture', 'Accenture', 'Sophos', 'Sophos', 'PwC', 'Pluralsight', 'Tredence', 'IBS Software Services', 'Accenture', 'Fractal Analytics']

In [31]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [32]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos
3,Senior Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Sophos
4,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
5,Data Scientist Lead,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Pluralsight
6,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Tredence
7,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",IBS Software Services
8,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics

# Question No 3

In [33]:
driver = webdriver.Chrome()

In [34]:
driver.get("https://www.naukri.com/")

In [35]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [36]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [37]:
checkBoxSelected = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
checkBoxSelected.click()

In [38]:
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

In [39]:
job_title=[]
job_location=[]
company_name=[]
experience_requried=[]

In [40]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

print(job_title)

['Junior Data Scientist', 'Data Scientist', 'Data Scientist/ Senior Data Scientist/ Manager Data Scientist', 'Data Scientist', 'Data Scientist', 'Python and ML Trainer', 'Hiring For Data Scientist', 'Junior Data Scientist', 'Data Scientist', 'Associate Data Scientist - ML & NLP']

In [41]:
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')

for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
print(job_location)

['Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru', 'Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Noida', 'Hyderabad/Secunderabad, New Delhi, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru', 'Remote', 'Gurgaon/Gurugram, United States (USA), Bulgaria', 'Noida', 'Gurgaon/Gurugram']

In [42]:
print(company_name)

[]

In [43]:
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    
print(company_name)

['Analytos', 'Blackbuck', 'Dreambig It Solutions India', 'Analytos', 'Times Internet', 'Thescholar', 'Infogain', 'Adidas', 'SquadRun, Inc', 'Gartner']

In [44]:
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')

for i in exp_tag[0:10]:
    exp=i.text
    experience_requried.append(exp)
    
print(experience_requried)

['0-2 Yrs', '3-7 Yrs', '1-6 Yrs', '2-4 Yrs', '3-8 Yrs', '3-8 Yrs', '4-9 Yrs', '1-6 Yrs', '1-4 Yrs', '2-4 Yrs']

In [45]:
print(len(job_title),len(job_location),len(company_name),len(experience_requried))

10 10 10 10

In [46]:
df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Requried':experience_requried})
df

,Job Title,Job Location,Company Name,Experience Requried
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
7,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
8,Data Scientist,Noida,"SquadRun, Inc",1-4 Yrs
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner,2-4 Yrs

# Question No 4

In [54]:
driver = webdriver.Chrome()

In [55]:
driver.get("https://www.flipkart.com/")

In [58]:
product= driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sunglasses')

In [60]:
search=driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [61]:
brand=[]
product_des=[]
price=[]
offer=[]

In [74]:
brand.clear()

In [64]:
print(len(brand))

120

In [63]:
start=0
end=3

for page in range(start,end):
    bd_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in bd_tag:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

print(brand)

['PIRASO', 'ROZZETTA CRAFT', 'Fastrack', 'SRPM', 'Elligator', 'iCopertina', 'Shiv', 'VINCENT CHASE', 'Elligator', 'Fastrack', 'john jacobs', 'PIRASO', 'Elligator', 'RELIZA', 'SRPM', 'Cool enter', 'ROYAL SON', 'VINCENT CHASE', 'RELIZA', 'Fastrack', 'VINCENT CHASE', 'VINCENT CHASE', 'ROADWAY', 'Rich Club', 'ROADWAY', 'Shiv', 'ROYAL SON', 'john jacobs', 'Fastrack', 'Sukart', 'style guru', 'PIRASO', 'BKGE', 'RELIZA', 'Sukart', 'VINCENT CHASE', 'VINCENT CHASE', 'style guru', 'New Specs', 'METRONAUT', 'VOLRIX', 'VINCENT CHASE', 'METRONAUT', 'GANSTA', 'Elligator', 'Sukart', 'VINCENT CHASE', 'Eyenaks', 'Rich Club', 'LIZA ANGEL', 'VINCENT CHASE', 'ROYAL SON', 'VINCENT CHASE', 'Ray-Ban', 'PROVOGUE', 'kingsunglasses', 'Eyewearlabs', 'Eyewearlabs', 'Elligator', 'Resist', 'Cruze', 'Eyewearlabs', 'Fastrack', 'DEIXELS', 'MODE', 'Elligator', 'RESIST EYEWEAR', 'ROYAL SON', 'LIZA ANGEL', 'PIRASO', 'DEIXELS', 'Eyewearlabs', 'Eyewearlabs', 'Fastrack', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'style guru', 'john jacobs', 'LIZA ANGEL', 'PIRASO', 'PIRASO', 'ROZZETTA CRAFT', 'SRPM', 'Fastrack', 'Elligator', 'iCopertina', 'Shiv', 'VINCENT CHASE', 'Fastrack', 'Elligator', 'john jacobs', 'PIRASO', 'Elligator', 'RELIZA', 'SRPM', 'Cool enter', 'ROYAL SON', 'ROYAL SON', 'RELIZA', 'ROADWAY', 'VINCENT CHASE', 'VINCENT CHASE', 'ROADWAY', 'Rich Club', 'Sukart', 'Fastrack', 'VINCENT CHASE', 'john jacobs', 'Shiv', 'Fastrack', 'john jacobs', 'ROYAL SON', 'BKGE', 'RELIZA', 'Fastrack', 'VINCENT CHASE', 'style guru', 'PIRASO', 'New Specs', 'METRONAUT']

In [65]:
del brand[100:]

print(brand)

['PIRASO', 'ROZZETTA CRAFT', 'Fastrack', 'SRPM', 'Elligator', 'iCopertina', 'Shiv', 'VINCENT CHASE', 'Elligator', 'Fastrack', 'john jacobs', 'PIRASO', 'Elligator', 'RELIZA', 'SRPM', 'Cool enter', 'ROYAL SON', 'VINCENT CHASE', 'RELIZA', 'Fastrack', 'VINCENT CHASE', 'VINCENT CHASE', 'ROADWAY', 'Rich Club', 'ROADWAY', 'Shiv', 'ROYAL SON', 'john jacobs', 'Fastrack', 'Sukart', 'style guru', 'PIRASO', 'BKGE', 'RELIZA', 'Sukart', 'VINCENT CHASE', 'VINCENT CHASE', 'style guru', 'New Specs', 'METRONAUT', 'VOLRIX', 'VINCENT CHASE', 'METRONAUT', 'GANSTA', 'Elligator', 'Sukart', 'VINCENT CHASE', 'Eyenaks', 'Rich Club', 'LIZA ANGEL', 'VINCENT CHASE', 'ROYAL SON', 'VINCENT CHASE', 'Ray-Ban', 'PROVOGUE', 'kingsunglasses', 'Eyewearlabs', 'Eyewearlabs', 'Elligator', 'Resist', 'Cruze', 'Eyewearlabs', 'Fastrack', 'DEIXELS', 'MODE', 'Elligator', 'RESIST EYEWEAR', 'ROYAL SON', 'LIZA ANGEL', 'PIRASO', 'DEIXELS', 'Eyewearlabs', 'Eyewearlabs', 'Fastrack', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'style guru', 'john jacobs', 'LIZA ANGEL', 'PIRASO', 'PIRASO', 'ROZZETTA CRAFT', 'SRPM', 'Fastrack', 'Elligator', 'iCopertina', 'Shiv', 'VINCENT CHASE', 'Fastrack', 'Elligator', 'john jacobs', 'PIRASO', 'Elligator', 'RELIZA', 'SRPM', 'Cool enter', 'ROYAL SON', 'ROYAL SON', 'RELIZA', 'ROADWAY']

In [69]:
print(len(brand))

100

In [71]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
search.click()

In [73]:
product_des.clear()

In [74]:
print(len(product_des))

0

In [75]:
start=0
end=3

for page in range(start,end):
    pd_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pd_tag:
        product_des.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

print(product_des)

['UV Protection Retro Square Sunglasses (54)', 'HOLBROOK Wayfarer Sunglass', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Polarized, Gradient, Mirrored Retro Squa...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection Rectangular, Retro Square Sunglasses (58)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Spectacle Sunglasses (15)', 'UV Protection Retro Square Sunglasses (52)', 'Polarized, UV Protection Rectangular Sunglasses (65)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Polarized Clubmaster Sunglasses (52)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (50)', 'UV Protection, Riding Glasses, Polarized, Gradient Wayf...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (49)', 'UV Protection Round Sunglasses (53)', 'Gradient Wayfarer Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (59)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (56)', 'UV Protection, Polarized Retro Square Sunglasses (55)', 'Polarized, UV Protection Wayfarer Sunglasses (54)', 'UV Protection, Polarized Round Sunglasses (47)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (59)', 'Polarized, UV Protection Round Sunglasses (48)', 'UV Protection Sunglass', 'Riding Glasses, UV Protection Retro Square Sunglasses (...', 'UV Protection Round Sunglasses (54)', 'UV Protection, Riding Glasses, Polarized, Gradient Wayf...', 'Mirrored Aviator Sunglasses (58)', 'Polarized, UV Protection Round Sunglasses (51)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...', 'Polarized, UV Protection Round Sunglasses (51)', 'Polarized, UV Protection Round Sunglasses (50)', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'UV Protection Aviator Sunglasses (52)', 'UV Protection Round Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...', 'UV Protection Retro Square Sunglasses (51)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection, Riding Glasses, Polarized Wayfarer Sungl...', 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'Polarized, UV Protection Round Sunglasses (57)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Night Vision Spectacle ...', 'UV Protection, Gradient Butterfly Sunglasses (62)', 'Polarized, UV Protection Wayfarer Sunglasses (56)', 'Polarized, UV Protection Rectangular Sunglasses (62)', 'UV Protection Aviator Sunglasses (Free Size)', 'Gradient, UV Protection Round Sunglasses (Free Size)', 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...', 'UV Protection Aviator Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer Sunglasses (54)', 'Toughened Glass Lens, UV Protection, Riding Glasses, Ni...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'HOLBROOK Wayfarer Sunglass', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Polarized, Gradient, Mirrored Retro Squa...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection Rectangular, Retro Square Sunglasses (58)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Spectacle Sunglasses (15)', 'UV Protection Retro Square Sunglasses (52)', 'Polarized, UV Protection Rectangular Sunglasses (65)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer Sunglasses (56)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (50)', 'UV Protection, Riding Glasses, Polarized, Gradient Wayf...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Mirrored Retro Square Su...', 'Polarized Clubmaster Sunglasses (52)', 'Gradient Wayfarer Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (59)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'Polarized, UV Protection Round Sunglasses (49)', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (56)', 'UV Protection Round Sunglasses (53)', 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...', 'UV Protection, Polarized Round Sunglasses (47)', 'UV Protection Rectangular Sunglasses (Free Size)']

In [76]:
del product_des[100:]

print(product_des)

['UV Protection Retro Square Sunglasses (54)', 'HOLBROOK Wayfarer Sunglass', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Polarized, Gradient, Mirrored Retro Squa...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection Rectangular, Retro Square Sunglasses (58)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Spectacle Sunglasses (15)', 'UV Protection Retro Square Sunglasses (52)', 'Polarized, UV Protection Rectangular Sunglasses (65)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Polarized Clubmaster Sunglasses (52)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (50)', 'UV Protection, Riding Glasses, Polarized, Gradient Wayf...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (49)', 'UV Protection Round Sunglasses (53)', 'Gradient Wayfarer Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (59)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (56)', 'UV Protection, Polarized Retro Square Sunglasses (55)', 'Polarized, UV Protection Wayfarer Sunglasses (54)', 'UV Protection, Polarized Round Sunglasses (47)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (59)', 'Polarized, UV Protection Round Sunglasses (48)', 'UV Protection Sunglass', 'Riding Glasses, UV Protection Retro Square Sunglasses (...', 'UV Protection Round Sunglasses (54)', 'UV Protection, Riding Glasses, Polarized, Gradient Wayf...', 'Mirrored Aviator Sunglasses (58)', 'Polarized, UV Protection Round Sunglasses (51)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...', 'Polarized, UV Protection Round Sunglasses (51)', 'Polarized, UV Protection Round Sunglasses (50)', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'UV Protection Aviator Sunglasses (52)', 'UV Protection Round Sunglasses (Free Size)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...', 'UV Protection Retro Square Sunglasses (51)', 'UV Protection Wayfarer Sunglasses (53)', 'UV Protection, Riding Glasses, Polarized Wayfarer Sungl...', 'Mirrored, Night Vision, UV Protection Wayfarer, Aviator...', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'Polarized, UV Protection Round Sunglasses (57)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Night Vision Spectacle ...', 'UV Protection, Gradient Butterfly Sunglasses (62)', 'Polarized, UV Protection Wayfarer Sunglasses (56)', 'Polarized, UV Protection Rectangular Sunglasses (62)', 'UV Protection Aviator Sunglasses (Free Size)', 'Gradient, UV Protection Round Sunglasses (Free Size)', 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...', 'UV Protection Aviator Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer Sunglasses (54)', 'Toughened Glass Lens, UV Protection, Riding Glasses, Ni...', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'HOLBROOK Wayfarer Sunglass', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Polarized, Gradient, Mirrored Retro Squa...', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection Rectangular, Retro Square Sunglasses (58)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Spectacle Sunglasses (15)', 'UV Protection Retro Square Sunglasses (52)', 'Polarized, UV Protection Rectangular Sunglasses (65)', 'UV Protection Retro Square Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer Sunglasses (56)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (50)', 'UV Protection, Riding Glasses, Polarized, Gradient Wayf...', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Mirrored Retro Square Su...', 'Polarized Clubmaster Sunglasses (52)']

In [77]:
print(len(product_des))

100

In [78]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
search.click()

In [88]:
price.clear()

In [79]:
print(len(price))

0

In [80]:
start=0
end=3

for page in range(start,end):
    pc_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pc_tag:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

print(price)

['₹490', '₹4,981', '₹194', '₹675', '₹168', '₹199', '₹249', '₹263', '₹826', '₹152', '₹497', '₹183', '₹199', '₹849', '₹194', '₹183', '₹6,000', '₹1,999', '₹849', '₹256', '₹1,979', '₹1,799', '₹372', '₹335', '₹292', '₹748', '₹854', '₹899', '₹249', '₹649', '₹2,375', '₹3,599', '₹749', '₹199', '₹849', '₹882', '₹899', '₹2,199', '₹499', '₹269', '₹649', '₹6,000', '₹249', '₹245', '₹299', '₹292', '₹379', '₹949', '₹395', '₹249', '₹1,049', '₹949', '₹648', '₹2,723', '₹699', '₹274', '₹899', '₹3,134', '₹194', '₹1,406', '₹899', '₹949', '₹825', '₹199', '₹179', '₹199', '₹2,375', '₹413', '₹199', '₹245', '₹664', '₹2,099', '₹2,199', '₹612', '₹449', '₹399', '₹750', '₹1,799', '₹249', '₹309', '₹490', '₹4,981', '₹194', '₹675', '₹168', '₹199', '₹249', '₹263', '₹826', '₹152', '₹497', '₹183', '₹199', '₹849', '₹194', '₹183', '₹6,000', '₹1,999', '₹849', '₹256', '₹1,979', '₹854', '₹372', '₹335', '₹292', '₹748', '₹899', '₹2,375', '₹249', '₹649', '₹699', '₹1,799', '₹749', '₹199', '₹849', '₹882', '₹3,599', '₹899', '₹499', '₹269']

In [81]:
del price[100:]

print(price)

['₹490', '₹4,981', '₹194', '₹675', '₹168', '₹199', '₹249', '₹263', '₹826', '₹152', '₹497', '₹183', '₹199', '₹849', '₹194', '₹183', '₹6,000', '₹1,999', '₹849', '₹256', '₹1,979', '₹1,799', '₹372', '₹335', '₹292', '₹748', '₹854', '₹899', '₹249', '₹649', '₹2,375', '₹3,599', '₹749', '₹199', '₹849', '₹882', '₹899', '₹2,199', '₹499', '₹269', '₹649', '₹6,000', '₹249', '₹245', '₹299', '₹292', '₹379', '₹949', '₹395', '₹249', '₹1,049', '₹949', '₹648', '₹2,723', '₹699', '₹274', '₹899', '₹3,134', '₹194', '₹1,406', '₹899', '₹949', '₹825', '₹199', '₹179', '₹199', '₹2,375', '₹413', '₹199', '₹245', '₹664', '₹2,099', '₹2,199', '₹612', '₹449', '₹399', '₹750', '₹1,799', '₹249', '₹309', '₹490', '₹4,981', '₹194', '₹675', '₹168', '₹199', '₹249', '₹263', '₹826', '₹152', '₹497', '₹183', '₹199', '₹849', '₹194', '₹183', '₹6,000', '₹1,999', '₹849', '₹256']

In [82]:
print(len(price))

100

In [83]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
search.click()

In [95]:
offer.clear()

In [84]:
print(len(offer))

0

In [85]:
start=0
end=3

for page in range(start,end):
    off_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in off_tag:
        offer.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

print(offer)

['75% off', '42% off', '85% off', '24% off', '71% off', '80% off', '75% off', '82% off', '24% off', '88% off', '66% off', '87% off', '80% off', '80% off', '85% off', '48% off', '44% off', '80% off', '80% off', '41% off', '50% off', '81% off', '66% off', '70% off', '25% off', '67% off', '55% off', '75% off', '67% off', '47% off', '20% off', '25% off', '80% off', '80% off', '11% off', '38% off', '79% off', '75% off', '89% off', '67% off', '80% off', '81% off', '88% off', '70% off', '74% off', '52% off', '80% off', '80% off', '47% off', '52% off', '74% off', '30% off', '72% off', '86% off', '55% off', '47% off', '85% off', '64% off', '55% off', '52% off', '24% off', '66% off', '75% off', '80% off', '47% off', '72% off', '60% off', '84% off', '66% off', '41% off', '38% off', '31% off', '77% off', '85% off', '42% off', '50% off', '50% off', '80% off', '75% off', '42% off', '85% off', '24% off', '71% off', '80% off', '75% off', '82% off', '24% off', '88% off', '66% off', '87% off', '80% off', '80% off', '85% off', '48% off', '44% off', '80% off', '80% off', '44% off', '67% off', '81% off', '66% off', '70% off', '25% off', '55% off', '47% off', '75% off', '67% off', '50% off', '20% off', '25% off', '80% off', '80% off', '11% off', '55% off', '38% off', '75% off', '89% off']

In [86]:
del offer[100:]

print(offer)

['75% off', '42% off', '85% off', '24% off', '71% off', '80% off', '75% off', '82% off', '24% off', '88% off', '66% off', '87% off', '80% off', '80% off', '85% off', '48% off', '44% off', '80% off', '80% off', '41% off', '50% off', '81% off', '66% off', '70% off', '25% off', '67% off', '55% off', '75% off', '67% off', '47% off', '20% off', '25% off', '80% off', '80% off', '11% off', '38% off', '79% off', '75% off', '89% off', '67% off', '80% off', '81% off', '88% off', '70% off', '74% off', '52% off', '80% off', '80% off', '47% off', '52% off', '74% off', '30% off', '72% off', '86% off', '55% off', '47% off', '85% off', '64% off', '55% off', '52% off', '24% off', '66% off', '75% off', '80% off', '47% off', '72% off', '60% off', '84% off', '66% off', '41% off', '38% off', '31% off', '77% off', '85% off', '42% off', '50% off', '50% off', '80% off', '75% off', '42% off', '85% off', '24% off', '71% off', '80% off', '75% off', '82% off', '24% off', '88% off', '66% off', '87% off', '80% off', '80% off', '85% off', '48% off', '44% off', '80% off', '80% off', '44% off', '67% off', '81% off']

In [87]:
print(len(offer))

100

In [88]:
print(len(brand),len(product_des),len(price),len(offer))

100 100 100 100

In [89]:
df=pd.DataFrame({'Brand':brand,'Product Description':product_des,'Price':price,'Offer':offer})
df

,Brand,Product Description,Price,Offer
0,PIRASO,UV Protection Retro Square Sunglasses (54),₹490,75% off
1,ROZZETTA CRAFT,HOLBROOK Wayfarer Sunglass,"₹4,981",42% off
2,Fastrack,UV Protection Wayfarer Sunglasses (50),₹194,85% off
3,SRPM,UV Protection Rectangular Sunglasses (Free Size),₹675,24% off
4,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹168,71% off
...,...,...,...,...
95,Cool enter,UV Protection Round Sunglasses (50),₹183,80% off
96,ROYAL SON,"UV Protection, Riding Glasses, Polarized, Grad...","₹6,000",80% off
97,ROYAL SON,"Gradient, UV Protection Wayfarer Sunglasses (F...","₹1,999",44% off
98,RELIZA,"UV Protection, Riding Glasses, Mirrored Retro ...",₹849,67% off
99,ROADWAY,Polarized Clubmaster Sunglasses (52),₹256,81% off

# Question No 5

In [90]:
driver = webdriver.Chrome()

In [91]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [92]:
rating=[]
review_sum=[]
full_review=[]

In [93]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in rating_tag:
    rt=i.text
    rating.append(rt)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()    
print(rating)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [94]:
start=0
end=9

for page in range(start,end):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(7)

print(rating)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5']

In [95]:
print(rating)

print(len(rating))

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5']
100

In [96]:
print(len(rating))

100

In [97]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [98]:
print(len(review_sum))

0

In [99]:
review_sum_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')

for i in review_sum_tag:
    rst=i.text
    review_sum.append(rst)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()    
print(review_sum)

['Classy product', 'Mind-blowing purchase', 'Wonderful', 'Terrific', 'Fabulous!', 'Just wow!', 'Must buy!', 'Perfect product!', 'Best in the market!', 'Worth every penny']

In [100]:
print(len(review_sum))

10

In [101]:
start=0
end=9

for page in range(start,end):
    review_sum_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_sum_tag:
        review_sum.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(7)

print(review_sum)

['Classy product', 'Mind-blowing purchase', 'Wonderful', 'Terrific', 'Fabulous!', 'Just wow!', 'Must buy!', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Must buy!', 'Great product', 'Terrific purchase', 'Excellent', 'Simply awesome', 'Brilliant', 'Terrific purchase', 'Fabulous!', 'Awesome', 'Wonderful', 'Simply awesome', 'Best in the market!', 'Worth the money', 'Excellent', 'Best in the market!', 'Highly recommended', 'Very Good', 'Just wow!', 'Super!', 'Brilliant', 'Highly recommended', 'Perfect product!', 'Best in the market!', 'Brilliant', 'Wonderful', 'Classy product', 'Highly recommended', 'Value-for-money', 'Worth every penny', 'Worth every penny', 'Wonderful', 'Simply awesome', 'Awesome', 'Best in the market!', 'Best in the market!', 'Just wow!', 'Perfect product!', 'Highly recommended', 'Simply awesome', 'Great product', 'Brilliant', 'Must buy!', 'Just wow!', 'Awesome', 'Worth every penny', 'Fabulous!', 'Wonderful', 'Fabulous!', 'Brilliant', 'Highly recommended', 'Fabulous!', 'Classy product', 'Mind-blowing purchase', 'Good quality product', 'Pretty good', 'Excellent', 'Wonderful', 'Excellent', 'Brilliant', 'Terrific purchase', 'Mind-blowing purchase', 'Just wow!', 'Worth every penny', 'Perfect product!', 'Simply awesome', 'Must buy!', 'Must buy!', 'Wonderful', 'Perfect product!', 'Highly recommended', 'Highly recommended', 'Good choice', 'Highly recommended', 'Best in the market!', 'Perfect product!', 'Highly recommended', 'Wonderful', 'Must buy!', 'Super!', 'Highly recommended', 'Mind-blowing purchase', 'Classy product', 'Value-for-money', 'Perfect product!', 'Great product', 'Wonderful', 'Great product', 'Wonderful', 'Just wow!', 'Great product']

In [102]:
print(len(review_sum))

100

In [103]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [124]:
full_review.clear()

In [104]:
print(len(full_review))

0

In [105]:
full_review_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

for i in full_review_tag:
    frt=i.text
    full_review.append(frt)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()    
print(full_review)

['Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Photos super', 'This is amazing at all', 'Very very good', 'Super🔥 and good performance 👌❤️', 'Perfect Product!!', 'It’s really awesome', 'V Good all', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!']

In [106]:
print(len(full_review))

10

In [107]:
start=0
end=9

for page in range(start,end):
    full_review_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tag:
        full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(7)

print(full_review)

['Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'Photos super', 'This is amazing at all', 'Very very good', 'Super🔥 and good performance 👌❤️', 'Perfect Product!!', 'It’s really awesome', 'V Good all', 'Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Purple is best', 'Value for money 😍', 'Best camera ever', 'Buy it if you afford it 😜', 'Excellent Phone.', 'Value for money 🖤🖤', 'It’s very good battery life and display and video quality and ther performance of iPhone.....🔥🔥🌈', 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny', 'Very good', 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good', 'Camera is just wow 👌👌', 'NYC', 'Superbb performance n camera is awesome 😍😍', 'Awesome Battery Life...Camera clarity is too good..\nValue for money...Its gives full day battery backup in single charge...', '🎈Battery\n🎈Performance\n🎈Camera\n🎈Price\n\n🎊All together worth IT\n\n♥️♥️♥️♥️', 'Nice product\nThe camera is extremely good which i liked the most.\nGot delivery within 24 hrs. Thanks to Flipkart', 'Good product 👌I love iPhone', 'Phone Is So Good', "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯", 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .', 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE', 'very good camera quality', 'Amazing...I am switched Samsung note9 into Iphone 11 one year ago..This phone is amazing...Android ki auqat Iphone use karne ke baad hi pata chalegi!!!!', 'Gifted my man on his 30th birthday 🎂 He loves it.. Him happy so i am more than happy 😍😘❤️🥰', 'Awesome Best iPhone 😍👍🏼', "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.", 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE', 'excellent look...', 'If you get it you would definitely not regret it. It is a premium flagship phone. Love for apple, love for iphone.', 'Awsn loved it', 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.', 'Don’t expect much from front camera… especially who loves beauty mode and filters.. back cameras are good…video department is always plus point in iPhones… battery capacity is really surprising lasts for one day at least… performance always good and smooth… speaker’s quality is good…built quality best and haptic feedback is enjoyable…\nNote : images are good after you edit', 'first iphone from android.\nwhat can I say, iphone 11 says it all.\nearlier I used to abuse iphone users by saying show off, but after using it .. it’s completely worth it..\np.s: there is still little pain in lower abdomen 😜', 'Loving it!!! 🤩\nSE to 11❤️\nA Big & Worthy Upgrade🥰💥', 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.', 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow', 'over all its nice.. color... purple. 😍', 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE', 'A wort full value for money decision it’s . Simply go for it in 2021 its still a good decision . Awesome camera , Super smothered performance, Heck of build quality. And Most important it protects your privacy.', 'This is my first Iphone. Very smooth and super fast\nThankyou @Flipkart god bless you with more success.', 'Switched from 6s and absolutely loving it 😍\nEverything is sooo good. Totally worth it 💯☺️', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE', 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.', 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face...\nREAD MORE', 'Definitely worth purchase', 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.', 'Fantastic phone', 'My first ever I phone and awesome performance camera battery and smoother than my previous phone', 'Gift this to your loved ones fabulous product and amazing super fast delivery by flipkart', 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥', 'I’m satisfy😍😍', "I'm switching this phone to oppo reno 10x zoom\nIt's really impressive\nRarely I'm missing smooth display touch response like oppo reno but\nI really loved it.\nCamera really impressive", 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.', 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11', 'I upgraded from 7 plus and Im not regretting it. The only thing missing is OLED display other than that 11 is no where lesser than 11pro.', 'Review After 10month\nSuperb quality product\nBattery run 40hrs perfect\nAfter 10 months battery health was 95% with 20W adapter\nLove apple 🍎', 'Awesome camera❤️ and gud battery backup', 'Awesome 💙', 'Absolutely powerful gadget. Loved it’s look! Soo glassy and classy. I would definitely recommend this model of Apple. Only disappointed with the 5W charger, one should purchase an 18W adapter for fast charging. Though battery backup is great. Bought it in September 2020, reviewing after so long so I’m gonna put the genuine review here.✅', 'Product 100%', 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE', 'Just awesome phone, everything works in such a smooth and refined way !!!\nCamera - next level\nDisplay - next level\nPerformance - monster\nBattery - next level\nEverything works at the best level with A13 Bionic Chip\nValue for money iphone\nYou should go for this just killer performance 🔥🔥', 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay.\n\nBelow ar...\nREAD MORE', 'Loved it...', 'Awesome camera.', 'Very nice iPhone 11 i lake', 'Amazing camera quality.', 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE', 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome', 'Best Mobile in the world... after 11pro\nnothing to say...\njust ..... jst...😍😍😍', 'Very good', 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', 'Excellent Fabulous Adorable Iphone 11 Value for money and premium phone', 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE', 'Exactly mach what you expect and where Spent your money .\nPros:\n1. Battery 10/10\n2. Camera 10/10\n3. Performance 10/10\n4. Premiem Feel 10/10\n5. One handed grip 9/10\n6. Network Capability 9/10\n7. Siri 8/10\n8. App manegement 9/10\n9. Sound on Speaker 8/10\n\nCons:\n1. Side Panel colour quality 6/10\n2. In-box Charger 6/10', 'Excellent product but packing was not upto mark..', 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against\nI phone 11 and new processor is very fast', 'Just enjoy the power of it!', "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....", "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.", 'Awesome phone, great display(may not be a OLED)...very fast processor...taking portrait photo is the real joy.', 'Its good.. a little heavy on my pinky but its cute ! Well m not any great photographer but putting these pictures just in case u knw…. Would help someone make any decisions', 'Superb Phone..', 'Quality camera', 'Loved it!!', "I was using android phone earlier..I was thinking apple phones are much more costy than other phones with less specifications..so why to waste money in this??..But trust me guys once if you start using ios then you won't go back to android...beleive me this phone is the best than all other...There is no other phone which can beat iphones in terms of camera..iphones gives the best real image..its very faster and smoother than android phones...if you think to switch to ios iphone 11 is the best...\nREAD MORE"]

In [108]:
print(len(rating),len(review_sum),len(full_review))

100 100 100

In [109]:
df=pd.DataFrame({'Raings':rating,'Review Summary':review_sum,'Full Summary':full_review})
df

,Raings,Review Summary,Full Summary
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Mind-blowing purchase,Photos super
2,5,Wonderful,This is amazing at all
3,5,Terrific,Very very good
4,5,Fabulous!,Super🔥 and good performance 👌❤️
...,...,...,...
95,5,Wonderful,Its good.. a little heavy on my pinky but its ...
96,5,Great product,Superb Phone..
97,5,Wonderful,Quality camera
98,5,Just wow!,Loved it!!
99,5,Great product,I was using android phone earlier..I was think...

# Question No 6

In [112]:
driver = webdriver.Chrome()

In [113]:
driver.get("https://www.flipkart.com/")

In [114]:
product= driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [115]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [116]:
sbrand=[]
sproduct_des=[]
sprice=[]

In [158]:
sbrand.clear()

In [117]:
print(len(sbrand))

0

In [118]:
sbd_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in sbd_tag:
    sbrand.append(i.text)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

print(sbrand)

['BAUCHHAAR', 'BAUCHHAAR', 'Magnolia', 'aadi', 'BRUTON', 'Magnolia', 'Kzaara', 'BIRDE', 'asian', 'Kraasa', 'K- FOOTLANCE', 'Airson', 'LE GREEM', 'Sparx', 'Kraasa', 'Kzaara', 'K- FOOTLANCE', 'RapidBox', 'asian', 'BRUTON', 'BIRDE', 'Krors', 'Nobelite', 'PUMA', 'PUMA', 'ADIDAS', 'ATOM', 'K- FOOTLANCE', 'asian', 'BIRDE', 'K- FOOTLANCE', 'K- FOOTLANCE', 'HIGHLANDER', 'Kzaara', 'aadi', 'Vellinto', 'Dizzler', 'RapidBox', 'asian', 'PUMA']

In [119]:
print(len(sbrand))

40

In [120]:
start=0
end=2

for page in range(start,end):
    sbd_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in sbd_tag:
        sbrand.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(7)
    
print(sbrand)

['BAUCHHAAR', 'BAUCHHAAR', 'Magnolia', 'aadi', 'BRUTON', 'Magnolia', 'Kzaara', 'BIRDE', 'asian', 'Kraasa', 'K- FOOTLANCE', 'Airson', 'LE GREEM', 'Sparx', 'Kraasa', 'Kzaara', 'K- FOOTLANCE', 'RapidBox', 'asian', 'BRUTON', 'BIRDE', 'Krors', 'Nobelite', 'PUMA', 'PUMA', 'ADIDAS', 'ATOM', 'K- FOOTLANCE', 'asian', 'BIRDE', 'K- FOOTLANCE', 'K- FOOTLANCE', 'HIGHLANDER', 'Kzaara', 'aadi', 'Vellinto', 'Dizzler', 'RapidBox', 'asian', 'PUMA', 'BIRDE', 'K- FOOTLANCE', 'Airson', 'asian', 'Deals4you', 'asian', 'Airson', 'RapidBox', 'RED TAPE', 'PUMA', 'BIRDE', 'Krors', 'aadi', 'Labbin', 'Sparx', 'ATOM', 'ATOM', 'K- FOOTLANCE', 'asian', 'BIRDE', 'K- FOOTLANCE', 'K- FOOTLANCE', 'HRX by Hrithik Roshan', 'EZDEZARIO', 'BRUTON', 'Sparx', "K' Footlance", 'RapidBox', 'Roadster', 'asian', 'BIRDE', 'RapidBox', 'BIRDE', 'aadi', 'asian', 'asian', 'Kraasa', 'RapidBox', 'HRX by Hrithik Roshan', 'LIBERTY', 'Elevarse', 'BAUCHHAAR', 'asian', 'PUMA', 'HRX by Hrithik Roshan', 'MILESWALKER', 'BIRDE', 'Dizzler', 'PETER ENGLAND', 'PUMA', 'AIRBELL', 'asian', 'U.S. POLO ASSN.', 'HRX by Hrithik Roshan', 'PUMA', 'Footox', 'RapidBox', 'K- FOOTLANCE', 'Sparx', 'PUMA', 'AIRBELL', 'New Balance', 'PUMA', 'asian', 'Magnolia', 'asian', 'AIRBELL', 'SOLETHREADS', 'Sparx', 'aadi', 'HIGHLANDER', 'New Balance', 'U.S. POLO ASSN.', 'BIRDE', 'HRX by Hrithik Roshan', 'Deals4you', 'HIGHLANDER', 'bacca bucci', 'Magnolia', 'lejano']

In [121]:
print(len(sbrand))

120

In [122]:
del sbrand[100:]

print(sbrand)

['BAUCHHAAR', 'BAUCHHAAR', 'Magnolia', 'aadi', 'BRUTON', 'Magnolia', 'Kzaara', 'BIRDE', 'asian', 'Kraasa', 'K- FOOTLANCE', 'Airson', 'LE GREEM', 'Sparx', 'Kraasa', 'Kzaara', 'K- FOOTLANCE', 'RapidBox', 'asian', 'BRUTON', 'BIRDE', 'Krors', 'Nobelite', 'PUMA', 'PUMA', 'ADIDAS', 'ATOM', 'K- FOOTLANCE', 'asian', 'BIRDE', 'K- FOOTLANCE', 'K- FOOTLANCE', 'HIGHLANDER', 'Kzaara', 'aadi', 'Vellinto', 'Dizzler', 'RapidBox', 'asian', 'PUMA', 'BIRDE', 'K- FOOTLANCE', 'Airson', 'asian', 'Deals4you', 'asian', 'Airson', 'RapidBox', 'RED TAPE', 'PUMA', 'BIRDE', 'Krors', 'aadi', 'Labbin', 'Sparx', 'ATOM', 'ATOM', 'K- FOOTLANCE', 'asian', 'BIRDE', 'K- FOOTLANCE', 'K- FOOTLANCE', 'HRX by Hrithik Roshan', 'EZDEZARIO', 'BRUTON', 'Sparx', "K' Footlance", 'RapidBox', 'Roadster', 'asian', 'BIRDE', 'RapidBox', 'BIRDE', 'aadi', 'asian', 'asian', 'Kraasa', 'RapidBox', 'HRX by Hrithik Roshan', 'LIBERTY', 'Elevarse', 'BAUCHHAAR', 'asian', 'PUMA', 'HRX by Hrithik Roshan', 'MILESWALKER', 'BIRDE', 'Dizzler', 'PETER ENGLAND', 'PUMA', 'AIRBELL', 'asian', 'U.S. POLO ASSN.', 'HRX by Hrithik Roshan', 'PUMA', 'Footox', 'RapidBox', 'K- FOOTLANCE', 'Sparx', 'PUMA']

In [123]:
print(len(sbrand))

100

In [124]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
search.click()

In [126]:
print(len(sproduct_des))

0

In [127]:
sproduct_des_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for i in sproduct_des_tag:
    sproduct_des.append(i.text)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

print(sproduct_des)

['Casual Sneakers White Outdoor Shoes For Boys And Men Sn...', 'Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Modern Trendy Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Thunder-01 White Color Change Sneakers,Casuals,Loafer S...', 'Sneakers For Women', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'SM-747 Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', "Styles Men's Fashion Outdoor Trend High Top Sports Shoe...", 'Sneakers For Men', 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...', 'Sneakers For Men', 'Hustle V2 Sneakers For Men', 'Hustle V2 Sneakers For Men', 'Trendy-21 White Color Change Sneakers,Casuals,Loafers S...', 'Sneakers For Men', 'Sneakers For Men', 'STREET ICON M Sneakers For Men', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Skypy-31 Shoes Sneakers For Men', 'Sneakers For Men', 'Fila Mens REACHER OLV Casual Shoes Sneakers For Men', 'Casual Sneakrs For Men Sneakers For Men', 'Junior Zero1 Sports shoes for Men | Gym Training Walkin...']

In [128]:
start=0
end=2

for page in range(start,end):
    sproduct_des_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in sproduct_des_tag:
        sproduct_des.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(7)
    
print(sproduct_des)

['Casual Sneakers White Outdoor Shoes For Boys And Men Sn...', 'Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Modern Trendy Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Thunder-01 White Color Change Sneakers,Casuals,Loafer S...', 'Sneakers For Women', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'SM-747 Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', "Styles Men's Fashion Outdoor Trend High Top Sports Shoe...", 'Sneakers For Men', 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...', 'Sneakers For Men', 'Hustle V2 Sneakers For Men', 'Hustle V2 Sneakers For Men', 'Trendy-21 White Color Change Sneakers,Casuals,Loafers S...', 'Sneakers For Men', 'Sneakers For Men', 'STREET ICON M Sneakers For Men', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Skypy-31 Shoes Sneakers For Men', 'Sneakers For Men', 'Fila Mens REACHER OLV Casual Shoes Sneakers For Men', 'Casual Sneakrs For Men Sneakers For Men', 'Junior Zero1 Sports shoes for Men | Gym Training Walkin...', 'Hustle V2 Sneakers For Men', 'Carnival-02 Mens High Top Casual Chunky Sneakers Sneake...', 'Walking Sports Shoes for Women | Soft Cushioned Insole,...', 'Hustle V2 Sneakers For Men', 'Achiever-15 Grey Sneakers,Loafers,Casuals,Synthetic Sne...', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'Casual Sneakers ColourFul Block Shoes For Boys And Men ...', 'Sneakers For Men', 'Stylish and Comfirtable Shoes For Mens Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Club Culture Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Combo Pack Of 2 Casual Shoes Sneakers For Men', 'Achiever-16 Blue Sneakers,Casuals,Walking,Stylish Loafe...', 'Sneakers For Men', 'SM-162 Navy Blue Walking,Training ,Sneakers,Loafers,Can...', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Premium Casual Shoes For Men Sneakers For Men', 'SM-322 Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Casual Shoes Sneakers For Men', 'Gliders RIDER-E Sneakers For Men', "Men's W-05 Casual White Sneaker Shoes With Waterproof S...", 'Buzz Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women Sneakers ...', 'Sneakers For Men', 'Hustle V2 Sneakers For Men', 'GAIMAN 2.O Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Smash Vulc Sneakers For Men', "Men's Shoes | Casual Shoes | Sports Shoes Sneakers For ...", 'SM-784 Sneakers For Men', 'Harper Wns Sneakers For Women', 'Buzz Sneakers For Men', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Comfortable and Light Weight sports shoes for men and b...', 'Sneakers For Men', 'SM-162 Sneakers For Men', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'Sneakers For Men', 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men', 'Combo Pack Of 2 Casual Shoes Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Sneakers For Women', 'Mesh Lightweight | Comfort |Premium | Trendy | Summer &...', 'asian Thunder-01 White Color Change Sneakers,Casuals,Lo...', 'Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Premium Casual Shoes for Women Sneakers For Women', 'Sneakers For Men', "Women's Mesh Sports Shoes Walking Sneakers For Women", 'Zod Runner V3 Sneakers For Men', 'Sneakers For Men', 'Mesh| Lightweight | Comfort |Sneakers| Premium | Trendy...', '500 Sneakers For Men', 'Waterproof-15 Grey Synthetic Sports,Training,Gym,Casual...', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'RS-Simul8 Tech Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Mesh Lightweight | Comfort |Premium | Trendy | Summer &...', 'Sneakers For Men', 'Pride White Sneakers,Casuals,Walking,Loafers,Stylish Sn...', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', '997 Sneakers For Men', 'Skye Sneakers For Women', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'Sneakers For Men', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Sneakers For Men', 'SAINT Low top Classic Sneakers/Casual Shoes for Men Sne...', "EL PASO Men's White Faux Leather Casual Lace Up Sneaker...", 'CLARKIN Sneakers For Men']

In [129]:
del sproduct_des[100:]

print(sproduct_des)

['Casual Sneakers White Outdoor Shoes For Boys And Men Sn...', 'Sneakers For Men', 'Modern Trendy Sneakers boot Sneakers Sneakers For Men', 'Synthetic Leather |Lightweight|Comfort|Summer|Trendy|Wa...', 'Modern Trendy Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Thunder-01 White Color Change Sneakers,Casuals,Loafer S...', 'Sneakers For Women', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'SM-747 Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', "Styles Men's Fashion Outdoor Trend High Top Sports Shoe...", 'Sneakers For Men', 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...', 'Sneakers For Men', 'Hustle V2 Sneakers For Men', 'Hustle V2 Sneakers For Men', 'Trendy-21 White Color Change Sneakers,Casuals,Loafers S...', 'Sneakers For Men', 'Sneakers For Men', 'STREET ICON M Sneakers For Men', 'Combo Pack of 2 Casual Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Skypy-31 Shoes Sneakers For Men', 'Sneakers For Men', 'Fila Mens REACHER OLV Casual Shoes Sneakers For Men', 'Casual Sneakrs For Men Sneakers For Men', 'Junior Zero1 Sports shoes for Men | Gym Training Walkin...', 'Hustle V2 Sneakers For Men', 'Carnival-02 Mens High Top Casual Chunky Sneakers Sneake...', 'Walking Sports Shoes for Women | Soft Cushioned Insole,...', 'Hustle V2 Sneakers For Men', 'Achiever-15 Grey Sneakers,Loafers,Casuals,Synthetic Sne...', 'Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...', 'Casual Sneakers ColourFul Block Shoes For Boys And Men ...', 'Sneakers For Men', 'Stylish and Comfirtable Shoes For Mens Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Club Culture Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Combo Pack Of 2 Casual Shoes Sneakers For Men', 'Achiever-16 Blue Sneakers,Casuals,Walking,Stylish Loafe...', 'Sneakers For Men', 'SM-162 Navy Blue Walking,Training ,Sneakers,Loafers,Can...', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Premium Casual Shoes For Men Sneakers For Men', 'SM-322 Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Casual Shoes Sneakers For Men', 'Gliders RIDER-E Sneakers For Men', "Men's W-05 Casual White Sneaker Shoes With Waterproof S...", 'Buzz Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Stylish Casual Sports Shoe Sneakers For Women Sneakers ...', 'Sneakers For Men', 'Hustle V2 Sneakers For Men', 'GAIMAN 2.O Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Smash Vulc Sneakers For Men', "Men's Shoes | Casual Shoes | Sports Shoes Sneakers For ...", 'SM-784 Sneakers For Men', 'Harper Wns Sneakers For Women', 'Buzz Sneakers For Men', 'WATERPROOF-05cFULLBLACK Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Comfortable and Light Weight sports shoes for men and b...', 'Sneakers For Men', 'SM-162 Sneakers For Men', 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...', 'Sneakers For Men', 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men', 'Combo Pack Of 2 Casual Shoes Sneakers For Men', 'CLUB CULTURE Sneakers For Men', 'Sneakers For Women', 'Mesh Lightweight | Comfort |Premium | Trendy | Summer &...', 'asian Thunder-01 White Color Change Sneakers,Casuals,Lo...', 'Sneakers For Men', 'Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Premium Casual Shoes for Women Sneakers For Women', 'Sneakers For Men', "Women's Mesh Sports Shoes Walking Sneakers For Women", 'Zod Runner V3 Sneakers For Men', 'Sneakers For Men', 'Mesh| Lightweight | Comfort |Sneakers| Premium | Trendy...', '500 Sneakers For Men', 'Waterproof-15 Grey Synthetic Sports,Training,Gym,Casual...', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'RS-Simul8 Tech Sneakers For Men', '2 Combo Sneaker Shoes Sneakers For Men', 'Mesh Lightweight | Comfort |Premium | Trendy | Summer &...']

In [130]:
print(len(sproduct_des))

100

In [131]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
search.click()

In [132]:
print(len(sprice))

0

In [133]:
sprice_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for i in sprice_tag:
    sprice.append(i.text)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

print(sprice)

['₹549', '₹429', '₹499', '₹387', '₹299', '₹299', '₹499', '₹449', '₹799', '₹399', '₹494', '₹494', '₹549', '₹854', '₹499', '₹499', '₹539', '₹2,096', '₹499', '₹499', '₹649', '₹649', '₹469', '₹1,399', '₹1,399', '₹649', '₹796', '₹696', '₹1,655', '₹479', '₹695', '₹796', '₹696', '₹499', '₹435', '₹509', '₹639', '₹649', '₹672', '₹989']

In [134]:
start=0
end=2

for page in range(start,end):
    sprice_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in sprice_tag:
        sprice.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(5)
    
print(sprice)

['₹549', '₹429', '₹499', '₹387', '₹299', '₹299', '₹499', '₹449', '₹799', '₹399', '₹494', '₹494', '₹549', '₹854', '₹499', '₹499', '₹539', '₹2,096', '₹499', '₹499', '₹649', '₹649', '₹469', '₹1,399', '₹1,399', '₹649', '₹796', '₹696', '₹1,655', '₹479', '₹695', '₹796', '₹696', '₹499', '₹435', '₹509', '₹639', '₹649', '₹672', '₹989', '₹479', '₹449', '₹1,399', '₹1,139', '₹599', '₹1,028', '₹695', '₹479', '₹1,399', '₹549', '₹539', '₹1,389', '₹383', '₹588', '₹579', '₹719', '₹999', '₹499', '₹1,389', '₹494', '₹999', '₹489', '₹1,047', '₹499', '₹479', '₹574', '₹695', '₹479', '₹809', '₹499', '₹750', '₹499', '₹509', '₹479', '₹959', '₹419', '₹695', '₹989', '₹479', '₹769', '₹297', '₹473', '₹769', '₹674', '₹1,319', '₹3,119', '₹479', '₹509', '₹549', '₹1,099', '₹809', '₹799', '₹1,399', '₹1,499', '₹975', '₹2,241', '₹695', '₹449', '₹299', '₹844', '₹798', '₹4,055', '₹1,199', '₹1,499', '₹674', '₹299', '₹809', '₹1,249', '₹1,049', '₹879', '₹497', '₹5,719', '₹429', '₹1,699', '₹479', '₹1,047', '₹479', '₹1,499', '₹599', '₹299']

In [135]:
del sprice[100:]

print(sprice)

['₹549', '₹429', '₹499', '₹387', '₹299', '₹299', '₹499', '₹449', '₹799', '₹399', '₹494', '₹494', '₹549', '₹854', '₹499', '₹499', '₹539', '₹2,096', '₹499', '₹499', '₹649', '₹649', '₹469', '₹1,399', '₹1,399', '₹649', '₹796', '₹696', '₹1,655', '₹479', '₹695', '₹796', '₹696', '₹499', '₹435', '₹509', '₹639', '₹649', '₹672', '₹989', '₹479', '₹449', '₹1,399', '₹1,139', '₹599', '₹1,028', '₹695', '₹479', '₹1,399', '₹549', '₹539', '₹1,389', '₹383', '₹588', '₹579', '₹719', '₹999', '₹499', '₹1,389', '₹494', '₹999', '₹489', '₹1,047', '₹499', '₹479', '₹574', '₹695', '₹479', '₹809', '₹499', '₹750', '₹499', '₹509', '₹479', '₹959', '₹419', '₹695', '₹989', '₹479', '₹769', '₹297', '₹473', '₹769', '₹674', '₹1,319', '₹3,119', '₹479', '₹509', '₹549', '₹1,099', '₹809', '₹799', '₹1,399', '₹1,499', '₹975', '₹2,241', '₹695', '₹449', '₹299', '₹844']

In [136]:
print(len(sprice))

100

In [137]:
print(len(sbrand),len(sproduct_des),len(sprice))

100 100 100

In [138]:
df=pd.DataFrame({'Sneakers Brand':sbrand,'Product Description':sproduct_des,'Price':sprice})
df

   Sneakers Brand                                Product Description   Price
0       BAUCHHAAR  Casual Sneakers White Outdoor Shoes For Boys A...    ₹549
1       BAUCHHAAR                                   Sneakers For Men    ₹429
2        Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...    ₹499
3            aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹387
4          BRUTON               Modern Trendy Shoes Sneakers For Men    ₹299
..            ...                                                ...     ...
95         Footox  Waterproof-15 Grey Synthetic Sports,Training,G...  ₹2,241
96       RapidBox  Skypy-31 Walking Shoes,Training Shoes,Sneakers...    ₹695
97   K- FOOTLANCE                    RS-Simul8 Tech Sneakers For Men    ₹449
98          Sparx             2 Combo Sneaker Shoes Sneakers For Men    ₹299
99           PUMA  Mesh Lightweight | Comfort |Premium | Trendy |...    ₹844

[100 rows x 3 columns]

# Question No 7

In [47]:
driver=webdriver.Chrome()

In [48]:
driver.get("https://www.amazon.in/")

In [49]:
product= driver.find_element(By.ID,"twotabsearchtextbox")
product.send_keys('Laptop')

In [54]:
search=driver.find_element(By.ID,'nav-search-submit-button')
search.click()

In [57]:
processor=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[10]/li/span/a/div/label/i')
processor.click()

In [58]:
laptop_title=[]
laptop_ratings=[]
laptop_price=[]

In [59]:
laptop_title_tag=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

for i in laptop_title_tag[0:10]:
    title=i.text
    laptop_title.append(title)

print(laptop_title)

['Dell Inspiron 5430 13th Gen Laptop, Intel i7-1360P/16GB/1TB SSD/14.0" (35.56CMs) FHD+ WVA AG with Comfortview Support 250 nits/Backlit KB+FPR/Win 11+MSO\'21/15 Month McAfee/Platinum Silver/1.59KGs', 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop', 'Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/2 Years Warranty/Arctic Grey/1.65Kg), 82H803B6IN', 'HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ram/1Tb Ssd 14 Inches Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/Fpr/Windows 11 Home/Ms Office, 14-Dv1029Tu,Natural Silver', 'Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen Intel Core i7-12650H NVIDIA GeForce RTX 3070Ti 8GB Laptop', 'Dell Vostro 5630 13th Gen Laptop,Intel i7-1355U/16GB LPDDR5/512GB SSD/16.0" (40.64cm)FHD+ Comfort View,16:10 aspect ratio /Win 11 + MSO\'21/McAfee 15 Month/Titan Grey/FHD Camera/Hardware TPM 2.0/1.90kg', 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN', 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN', 'ASUS TUF Gaming F15 (2023) 90WHr Battery, Intel Core i7-12700H 12th Gen, 15.6" FHD 144Hz, 8GB RTX 4060, Gaming', '(Renewed) Lenovo Intel 5th Gen Core i7 14 Inch(35.56 cms) 1366 x 768 HD Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office/Intel HD Graphics,Black,2.0kg) Lenovo ThinkPad T450']

In [60]:
print(len(laptop_title))

10

In [61]:
print(len(laptop_ratings))

0

In [62]:
laptop_ratings_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')

for i in laptop_ratings_tag[0:10]:
    lrat=i.text
    laptop_ratings.append(lrat)

print(laptop_ratings)

['2', '233', '5', '25', '50', '2', '74', '2', '22', '182']

In [63]:
print(len(laptop_price))

0

In [64]:
laptop_price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in laptop_price_tag[0:10]:
    lpr=i.text
    laptop_price.append(lpr)

print(laptop_price)

['86,420', '61,990', '62,990', '79,990', '1,04,990', '89,990', '80,990', '71,490', '1,15,990', '29,099']

In [65]:
print(len(laptop_title),len(laptop_ratings),len(laptop_price))

10 10 10

In [67]:
df=pd.DataFrame({'Title':laptop_title,'Ratings':laptop_ratings,'Price':laptop_price})
df

                                               Title Ratings     Price
0  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...       2    86,420
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     233    61,990
2  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...       5    62,990
3  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...      25    79,990
4  Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...      50  1,04,990
5  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...       2    89,990
6  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...      74    80,990
7  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...       2    71,490
8  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...      22  1,15,990
9  (Renewed) Lenovo Intel 5th Gen Core i7 14 Inch...     182    29,099

# Question No 8

In [68]:
driver=webdriver.Chrome()

In [69]:
driver.get("https://www.azquotes.com/")

In [171]:
search=driver.find_element(By.PARTIAL_LINK_TEXT,'https://www.azquotes.com/top_quotes.html')
search.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"partial link text","selector":"https://www.azquotes.com/top_quotes.html"}
  (Session info: chrome=115.0.5790.99); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x003BA813+48355]
	(No symbol) [0x0034C4B1]
	(No symbol) [0x00255358]
	(No symbol) [0x002809A5]
	(No symbol) [0x00280B3B]
	(No symbol) [0x002AE232]
	(No symbol) [0x0029A784]
	(No symbol) [0x002AC922]
	(No symbol) [0x0029A536]
	(No symbol) [0x002782DC]
	(No symbol) [0x002793DD]
	GetHandleVerifier [0x0061AABD+2539405]
	GetHandleVerifier [0x0065A78F+2800735]
	GetHandleVerifier [0x0065456C+2775612]
	GetHandleVerifier [0x004451E0+616112]
	(No symbol) [0x00355F8C]
	(No symbol) [0x00352328]
	(No symbol) [0x0035240B]
	(No symbol) [0x00344FF7]
	BaseThreadInitThunk [0x753200C9+25]
	RtlGetAppContainerNamedObjectPath [0x77027B1E+286]
	RtlGetAppContainerNamedObjectPath [0x77027AEE+238]

# Question No 9

# Question No 10

In [71]:
driver=webdriver.Chrome()

In [72]:
driver.get("https://www.motor1.com/")

In [73]:
product= driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
product.send_keys('50 most expensive cars')

In [74]:
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [75]:
search_=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]')
search_.click()

In [77]:
car_name=[]
car_price=[]

In [83]:
car_name_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

for i in car_name_tag[0:50]:
    car=i.text
    car_name.append(car)

print(car_name)

['De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*']

In [84]:
print(len(car_name))

50

In [81]:
car_name.clear()